{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="h3 mb-3">Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, { attr: { class: 'row g-3' } }) }}
        <div class="col-md-6">{{ form_row(registrationForm.name) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.first_name) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.birthday) }}</div>
        <div class="col-md-6">{{ form_row(registrationForm.email) }}</div>
        <div class="col-12">{{ form_row(registrationForm.plainPassword, { label: 'Mot de passe' }) }}</div>
        <div class="col-12">{{ form_row(registrationForm.agreeTerms) }}</div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Inscription</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
