{% extends 'base.html.twig' %}

{% block title %}Child{% endblock %}

{% block body %}
    <h1>Child</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ child.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ child.firstName }}</td>
            </tr>
            <tr>
                <th>Date anniversaire</th>
                <td>{{ child.birthday ? child.birthday|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Allergies</th>
                <td>{{ child.allergies }}</td>
            </tr>
            <tr>
                <th>Inscription</th>
                <td>{{ child.registerDate ? child.registerDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Parents</th>
                <td>
                    {% for parent in parents %}
                        {{ parent.name }} {{ parent.firstName }}<br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_child_index') }}">Retour à la liste</a>

    <a href="{{ path('app_child_edit', {'id': child.id}) }}">Modifier</a>

    {{ include('child/_delete_form.html.twig') }}
{% endblock %}
